.classplusPrgm {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f1f1f1;
  justify-content: center;
}

.classplusPrgm .sabsePehleAap {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
}

.sabsePehleAap .welcomeImg {
  align-items: center;
  justify-content: center;
  padding: 32px 16px 60px 16px;
}

.sabsePehleAap .HashTag {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #2d2d45;
}

.sabsePehleAap .bodyText {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2d2d45;
  padding: 24px 32px 32px 32px;
}

.sabsePehleAap .Footer {
  display: flex;
  justify-content: center;
  margin: 0px 32px 0px 32px;
  padding-bottom: 30px;
}

.Footer .JoinPartnerPrgm {
  background-color: #009ae0;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  border-radius: 4px;

  align-items: center;
  color: #fff;
  display: flex;
  padding: 14px 10px;
  justify-content: center;
  width: 100%;
}

.classplusPrgm .WhatisClps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f4f7f8;
}

.WhatisClps .whatisClpsHeading {
  padding: 60px 60px 32px 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2d2d45;
  text-shadow: 0px 0px 1px #000000;
}

.WhatisClps .bodyTopText {
  padding: 0px 48px 32px 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #2d2d45;
}

.WhatisClps .bodyBtmText {
  padding: 0px 48px 32px 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #2d2d45;
}

.WhatisClps .videoImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 32px 0px 32px;
}

.videoImg .videosImgs {
  width: 100%;
}

.WhatisClps .checkoutVideoText {
  padding: 8px 32px 60px 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #008489;
}

@media (min-width: 1000px) {
  body {
    width: 100%;
    margin: auto;
    border: 1px solid #e5e5e5;
    background: #e5e5e5;
  }

  .Footer .JoinPartnerPrgm {
    width: 50%;
    border-radius: 10px;
  }
  .videoImg .videosImgs {
    width: 80%;
  }
  .classplusImage .classplusImages {
    width: 100%;
  }
}
